# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.gitconfig
.lesshst

.env
.venv/
.dbpath/
.cache/
.bin/

# Do not track user avatar
data/images/avatar/*
data/templates/**/*.db

# Python REPL 历史记录
.python_history

# Vim 配置/缓存
.vim/
.viminfo
