.article-content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: oklch(var(--n));
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: auto;

  --p: 49.12% 0.3096 275.75;
  --s: 69.71% 0.329 342.55;
  --sc: 98.71% 0.0106 342.55;
  --a: 76.76% 0.184 183.61;
  --n: 32.1785% 0.02476 255.701624;
  --nc: 89.4994% 0.011585 252.096176;
  --b1: 100% 0 0;
  --b2: 96.1151% 0 0;
  --b3: 92.4169% 0.00108 197.137559;
  --bc: 27.8078% 0.029596 256.847952;
  --in: 72.06% 0.191 231.6;
  --su: 64.8% 0.15 160;
  --wa: 84.71% 0.199 83.87;
  --er: 71.76% 0.221 22.18;
  --pc: 89.824% 0.06192 275.75;
  --ac: 15.352% 0.0368 183.61;
}

.article-content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.article-content h1:hover .anchor .octicon-link:before,
.article-content h2:hover .anchor .octicon-link:before,
.article-content h3:hover .anchor .octicon-link:before,
.article-content h4:hover .anchor .octicon-link:before,
.article-content h5:hover .anchor .octicon-link:before,
.article-content h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.article-content details,
.article-content figcaption,
.article-content figure {
  display: block;
}

.article-content summary {
  display: list-item;
}

.article-content [hidden] {
  display: none !important;
}

.article-content a {
  background-color: transparent;
  color: oklch(var(--p));
  text-decoration: none;
}

.article-content abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.article-content b,
.article-content strong {
  font-weight: 600;
}

.article-content dfn {
  font-style: italic;
}

.article-content h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid oklch(var(--nc));
}

.article-content mark {
  background-color: #fff8c5;
  color: oklch(var(--n));
}

.article-content small {
  font-size: 90%;
}

.article-content sub,
.article-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.article-content sub {
  bottom: -0.25em;
}

.article-content sup {
  top: -0.5em;
}

.article-content img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: oklch(var(--b1));
  display: block;
  margin: 0 auto;
}

.article-content code,
.article-content kbd,
.article-content pre,
.article-content samp {
  font-family: monospace;
  font-size: 1em;
}

.article-content figure {
  margin: 1em 40px;
}

.article-content hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid oklch(var(--nc));
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: oklch(var(--b2));
  border: 0;
}

.article-content input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.article-content [type="button"],
.article-content [type="reset"],
.article-content [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.article-content [type="checkbox"],
.article-content [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.article-content [type="number"]::-webkit-inner-spin-button,
.article-content [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.article-content [type="search"]::-webkit-search-cancel-button,
.article-content [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.article-content ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

.article-content ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.article-content a:hover {
  text-decoration: underline;
}

.article-content ::placeholder {
  color: oklch(var(--nc));
  opacity: 1;
}

.article-content hr::before {
  display: table;
  content: "";
}

.article-content hr::after {
  display: table;
  clear: both;
  content: "";
}

.article-content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.article-content td,
.article-content th {
  padding: 0;
}

.article-content details summary {
  cursor: pointer;
}

.article-content details:not([open]) > *:not(summary) {
  display: none;
}

.article-content a:focus,
.article-content [role="button"]:focus,
.article-content input[type="radio"]:focus,
.article-content input[type="checkbox"]:focus {
  outline: 2px solid oklch(var(--pc));
  outline-offset: -2px;
  box-shadow: none;
}

.article-content a:focus:not(:focus-visible),
.article-content [role="button"]:focus:not(:focus-visible),
.article-content input[type="radio"]:focus:not(:focus-visible),
.article-content input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.article-content a:focus-visible,
.article-content [role="button"]:focus-visible,
.article-content input[type="radio"]:focus-visible,
.article-content input[type="checkbox"]:focus-visible {
  outline: 2px solid oklch(var(--pc));
  outline-offset: -2px;
  box-shadow: none;
}

.article-content a:not([class]):focus,
.article-content a:not([class]):focus-visible,
.article-content input[type="radio"]:focus,
.article-content input[type="radio"]:focus-visible,
.article-content input[type="checkbox"]:focus,
.article-content input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

.article-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font:
    11px ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  line-height: 10px;
  color: oklch(var(--n));
  vertical-align: middle;
  background-color: oklch(var(--b1));
  border: solid 1px oklch(var(--b2));
  border-bottom-color: oklch(var(--b2));
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 oklch(var(--b2));
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: oklch(var(--bc));
}

.article-content h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid oklch(var(--nc));
}

.article-content h3 {
  font-weight: 600;
  font-size: 1.25em;
}

.article-content h4 {
  font-weight: 600;
  font-size: 1em;
}

.article-content h5 {
  font-weight: 600;
  font-size: 0.875em;
}

.article-content h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: oklch(var(--nc));
}

.article-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

.article-content blockquote {
  margin: 0;
  padding: 0 1em;
  color: oklch(var(--nc));
  border-left: 0.25em solid oklch(var(--b2));
}

.article-content ul,
.article-content ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  list-style-type: decimal;
}

.article-content ol ol,
.article-content ul ol {
  list-style-type: lower-roman;
}

.article-content ul ul ol,
.article-content ul ol ol,
.article-content ol ul ol,
.article-content ol ol ol {
  list-style-type: lower-alpha;
}

.article-content dd {
  margin-left: 0;
}

.article-content tt,
.article-content code,
.article-content samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
}

.article-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
  word-wrap: normal;
}

.article-content .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.article-content input::-webkit-outer-spin-button,
.article-content input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.article-content .mr-2 {
  margin-right: 0.5rem !important;
}

.article-content::before {
  display: table;
  content: "";
}

.article-content::after {
  display: table;
  clear: both;
  content: "";
}

.article-content > *:first-child {
  margin-top: 0 !important;
}

.article-content > *:last-child {
  margin-bottom: 0 !important;
}

.article-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.article-content .absent {
  color: oklch(var(--er));
}

.article-content .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.article-content .anchor:focus {
  outline: none;
}

.article-content p,
.article-content blockquote,
.article-content ul,
.article-content ol,
.article-content dl,
.article-content table,
.article-content pre,
.article-content details {
  margin-top: 0;
  margin-bottom: 16px;
  color: oklch(var(--bc));
}

.article-content blockquote > :first-child {
  margin-top: 0;
}

.article-content blockquote > :last-child {
  margin-bottom: 0;
}

.article-content h1 .octicon-link,
.article-content h2 .octicon-link,
.article-content h3 .octicon-link,
.article-content h4 .octicon-link,
.article-content h5 .octicon-link,
.article-content h6 .octicon-link {
  color: oklch(var(--n));
  vertical-align: middle;
  visibility: hidden;
}

.article-content h1:hover .anchor,
.article-content h2:hover .anchor,
.article-content h3:hover .anchor,
.article-content h4:hover .anchor,
.article-content h5:hover .anchor,
.article-content h6:hover .anchor {
  text-decoration: none;
}

.article-content h1:hover .anchor .octicon-link,
.article-content h2:hover .anchor .octicon-link,
.article-content h3:hover .anchor .octicon-link,
.article-content h4:hover .anchor .octicon-link,
.article-content h5:hover .anchor .octicon-link,
.article-content h6:hover .anchor .octicon-link {
  visibility: visible;
}

.article-content h1 tt,
.article-content h1 code,
.article-content h2 tt,
.article-content h2 code,
.article-content h3 tt,
.article-content h3 code,
.article-content h4 tt,
.article-content h4 code,
.article-content h5 tt,
.article-content h5 code,
.article-content h6 tt,
.article-content h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

.article-content summary h1,
.article-content summary h2,
.article-content summary h3,
.article-content summary h4,
.article-content summary h5,
.article-content summary h6 {
  display: inline-block;
}

.article-content summary h1 .anchor,
.article-content summary h2 .anchor,
.article-content summary h3 .anchor,
.article-content summary h4 .anchor,
.article-content summary h5 .anchor,
.article-content summary h6 .anchor {
  margin-left: -40px;
}

.article-content summary h1,
.article-content summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.article-content ul.no-list,
.article-content ol.no-list {
  padding: 0;
  list-style-type: none;
}

.article-content ol[type="a s"] {
  list-style-type: lower-alpha;
}

.article-content ol[type="A s"] {
  list-style-type: upper-alpha;
}

.article-content ol[type="i s"] {
  list-style-type: lower-roman;
}

.article-content ol[type="I s"] {
  list-style-type: upper-roman;
}

.article-content ol[type="1"] {
  list-style-type: decimal;
}

.article-content div > ol:not([type]) {
  list-style-type: decimal;
}

.article-content ul ul,
.article-content ul ol,
.article-content ol ol,
.article-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: disc;
}

.article-content li > p {
  margin-top: 16px;
}

.article-content li + li {
  margin-top: 0.25em;
}

.article-content dl {
  padding: 0;
}

.article-content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.article-content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.article-content table th {
  font-weight: 600;
}

.article-content table th,
.article-content table td {
  padding: 6px 13px;
  border: 1px solid oklch(var(--b2));
}

.article-content table td > :last-child {
  margin-bottom: 0;
}

.article-content table tr {
  background-color: oklch(var(--b1));
  border-top: 1px solid oklch(var(--nc));
}

.article-content table tr:nth-child(2n) {
  background-color: oklch(var(--b1));
}

.article-content table img {
  background-color: transparent;
}

.article-content img[align="right"] {
  padding-left: 20px;
}

.article-content img[align="left"] {
  padding-right: 20px;
}

.article-content .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.article-content span.frame {
  display: block;
  overflow: hidden;
}

.article-content span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid oklch(var(--b2));
}

.article-content span.frame span img {
  display: block;
  float: left;
}

.article-content span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: oklch(var(--n));
}

.article-content span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.article-content span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.article-content span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.article-content span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.article-content span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.article-content span.align-right span img {
  margin: 0;
  text-align: right;
}

.article-content span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.article-content span.float-left span {
  margin: 13px 0 0;
}

.article-content span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.article-content span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.article-content code,
.article-content tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: oklch(var(--b2));
  border-radius: 6px;
  color: oklch(var(--bc));
}

.article-content code br,
.article-content tt br {
  display: none;
}

.article-content del code {
  text-decoration: inherit;
}

.article-content samp {
  font-size: 85%;
}

.article-content pre code {
  font-size: 100%;
}

/* 整个滚动条（轨道）——设成透明 */
.article-content pre::-webkit-scrollbar {
  height: 4px;
  background-color: transparent;
}

/* 滑块（thumb）——设成灰色 */
.article-content pre::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 2px;
}

/* 轨道（track）——也可以单独再指定透明，确保没有其它颜色 */
.article-content pre::-webkit-scrollbar-track {
  background-color: transparent;
}

.article-content pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.article-content .highlight {
  margin-bottom: 16px;
}

.article-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.article-content .highlight pre,
.article-content pre {
  padding: 8px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: oklch(var(--n));
  background-color: oklch(var(--b2));
  border-radius: 6px;
  position: relative;
}

.article-content pre code,
.article-content pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.article-content pre:hover .article-content-copy {
  opacity: 1;
}

.article-content pre .article-content-copy {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  padding: 2px 10px;
  font-size: 12px;
  font-family:
    Lato,
    PingFang SC,
    Microsoft YaHei,
    sans-serif;
  font-weight: normal;
  background: oklch(var(--b3));
  color: oklch(var(--bc));
  cursor: pointer;
  opacity: 0;
  margin: 2px 10px;
  transition: all 0.3s;
  z-index: 5;
  user-select: none;
}

.article-content .csv-data td,
.article-content .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.article-content .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: oklch(var(--b1));
  border: 0;
}

.article-content .csv-data tr {
  border-top: 0;
}

.article-content .csv-data th {
  font-weight: 600;
  background: oklch(var(--b1));
  border-top: 0;
}

.article-content [data-footnote-ref]::before {
  content: "[";
}

.article-content [data-footnote-ref]::after {
  content: "]";
}

.article-content .footnotes {
  font-size: 12px;
  color: oklch(var(--nc));
  border-top: 1px solid oklch(var(--b2));
}

.article-content .footnotes ol {
  padding-left: 16px;
}

.article-content .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.article-content .footnotes li {
  position: relative;
}

.article-content .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid oklch(var(--pc));
  border-radius: 6px;
}

.article-content .footnotes li:target {
  color: oklch(var(--n));
}

.article-content .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.article-content .pl-c {
  color: oklch(var(--b2));
}

.article-content .pl-c1,
.article-content .pl-s .pl-v {
  color: oklch(var(--pc));
}

.article-content .pl-e,
.article-content .pl-en {
  color: oklch(var(--in));
}

.article-content .pl-smi,
.article-content .pl-s .pl-s1 {
  color: oklch(var(--b3));
}

.article-content .pl-ent {
  color: oklch(var(--pc));
}

.article-content .pl-k {
  color: oklch(var(--e));
}

.article-content .pl-s,
.article-content .pl-pds,
.article-content .pl-s .pl-pse .pl-s1,
.article-content .pl-sr,
.article-content .pl-sr .pl-cce,
.article-content .pl-sr .pl-sre,
.article-content .pl-sr .pl-sra {
  color: oklch(var(--in));
}

.article-content .pl-v,
.article-content .pl-smw {
  color: oklch(var(--s));
}

.article-content .pl-bu {
  color: oklch(var(--s));
}

.article-content .pl-ii {
  color: oklch(var(--b1));
  background-color: oklch(var(--s));
}

.article-content .pl-c2 {
  color: oklch(var(--b1));
  background-color: oklch(var(--e));
}

.article-content .pl-sr .pl-cce {
  font-weight: bold;
  color: oklch(var(--a));
}

.article-content .pl-ml {
  color: oklch(var(--ac));
}

.article-content .pl-mh,
.article-content .pl-mh .pl-en,
.article-content .pl-ms {
  font-weight: bold;
  color: oklch(var(--pc));
}

.article-content .pl-mi {
  font-style: italic;
  color: oklch(var(--b3));
}

.article-content .pl-mb {
  font-weight: bold;
  color: oklch(var(--b3));
}

.article-content .pl-md {
  color: oklch(var(--s));
  background-color: oklch(var(--b2));
}

.article-content .pl-mi1 {
  color: oklch(var(--a));
  background-color: #dafbe1;
}

.article-content .pl-mc {
  color: oklch(var(--s));
  background-color: #ffd8b5;
}

.article-content .pl-mi2 {
  color: #eaeef2;
  background-color: oklch(var(--pc));
}

.article-content .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

.article-content .pl-ba {
  color: oklch(var(--b2));
}

.article-content .pl-sg {
  color: #8c959f;
}

.article-content .pl-corl {
  text-decoration: underline;
  color: oklch(var(--in));
}

.article-content [role="button"]:focus:not(:focus-visible),
.article-content [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
.article-content button:focus:not(:focus-visible),
.article-content summary:focus:not(:focus-visible),
.article-content a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.article-content [tabindex="0"]:focus:not(:focus-visible),
.article-content details-dialog:focus:not(:focus-visible) {
  outline: none;
}

.article-content g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.article-content g-emoji img {
  width: 1em;
  height: 1em;
}

.article-content .task-list-item {
  list-style-type: none;
}

.article-content .task-list-item label {
  font-weight: 400;
}

.article-content .task-list-item.enabled label {
  cursor: pointer;
}

.article-content .task-list-item + .task-list-item {
  margin-top: 0.25rem;
}

.article-content .task-list-item .handle {
  display: none;
}

.article-content .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.article-content .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

.article-content .contains-task-list {
  position: relative;
}

.article-content .contains-task-list:hover .task-list-item-convert-container,
.article-content .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.article-content ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.article-content .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: 0.25em solid oklch(var(--b2));
}

.article-content .markdown-alert > :first-child {
  margin-top: 0;
}

.article-content .markdown-alert > :last-child {
  margin-bottom: 0;
}

.article-content .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

.article-content .markdown-alert.markdown-alert-note {
  border-left-color: oklch(var(--pc));
}

.article-content .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: oklch(var(--pc));
}

.article-content .markdown-alert.markdown-alert-important {
  border-left-color: #8250df;
}

.article-content .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #8250df;
}

.article-content .markdown-alert.markdown-alert-warning {
  border-left-color: #bf8700;
}

.article-content .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #9a6700;
}

.article-content .markdown-alert.markdown-alert-tip {
  border-left-color: #1a7f37;
}

.article-content .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #1a7f37;
}

.article-content .markdown-alert.markdown-alert-caution {
  border-left-color: oklch(var(--e));
}

.article-content .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: oklch(var(--er));
}

.article-content > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}

.article-content .ln-num {
  z-index: 2;
  width: 48px;
  text-align: center;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.article-content .ln-num::before {
  color: #999;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  content: attr(data-num);
}

.hljs,
.hljsln {
  overflow-x: auto;
  color: oklch(var(--bc));
  white-space: pre;
  word-break: normal;
}

.hljs::-webkit-scrollbar,
.hljsln::-webkit-scrollbar {
  height: 4px;
}

.hljs-comment,
.hljs-quote {
  color: #727c90;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c46fde;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #d05f68;
}

.hljs-literal {
  color: #3cb4c4;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #92c270;
}

.class_ {
  color: #d4ae66 !important;
}

.hljs-attr {
  color: #d1945b !important;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4e9ad7;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-built_in {
  color: #4cb2c0;
}

.hljs-tag {
  color: #bababa;
}

.hljs-tag .hljs-name {
  color: #da5f69;
}

.hljs-attribute,
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-title {
  font-weight: normal !important;
}

.hljs-punctuation {
  color: #bababa;
}

/* Overrides scrollbar height for .hljs and .hljsln */
.hljs::-webkit-scrollbar,
.hljsln::-webkit-scrollbar {
  height: 4px;
}
