<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI API HUB</title>
    <script type="module" crossorigin src="./assets/entry-index-DQKiZ2lx.js"></script>
    <link rel="modulepreload" crossorigin href="./assets/chunk-vendor-Co1no_Qb.js">
    <link rel="modulepreload" crossorigin href="./assets/chunk-framework-CdvxRo2z.js">
    <link rel="modulepreload" crossorigin href="./assets/chunk-highlight-Cxg68T9T.js">
    <link rel="stylesheet" crossorigin href="./assets/index-DSzWjFRZ.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
